<%= render 'shared/alert_messages' %>

<h1><%= @post.title %></h1>
<p class="article_pub-date"><%= @post.created_at.strftime("%b %d, %Y") %></p>
<p><%= raw @post.body %></p>
<h3>Comments <span class="label label-info"><%= @post.comments.count %></span></h3>

<div id="comments">
	<%= render partial: @post.comments %>
</div>

<div class="container">
	<div class="row">
		<h3>Send Comment</h3>
		<div class="col-md-5">
			<%= form_for([@post, Comment.new], html: { class: "form-horizontal" }, remote: true) do |f| %>
			
				<%= render 'shared/alert_messages' %>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<%= f.text_field :name, placeholder: 'Name (*required)', class: "form-control" %>
					</div>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<%= f.text_field :email, placeholder: 'Email (*required, not be published)', class: "form-control" %>
					</div>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-comments"></i></span>
						<%= f.text_area :body, placeholder: 'Comment', class: "form-control" %>
					</div>
					<%= f.submit "Add comment", class: "btn btn-success" %>
				</div>

			<% end %>
		</div>
	</div>
</div>