<!DOCTYPE html>
<html>
<head>
  <title>Solo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top " role="navigation">
  	<div class="container">
    	<a class="navbar-brand fa fa-user fa-3x" href="http://localhost:3000"> SOLO</a>
  	</div>
	</nav>

	<div class="container">


		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>


	</div>
</body>
</html>
