<!DOCTYPE html>
<html>
<head>
  <title>Solo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, blog_index_path(:atom)) %>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top " role="navigation">
  	<div class="container">
      <%= link_to 'SOLO', root_path, class: "navbar-brand fa fa-user fa-3x" %>
    	<ul class="nav navbar-nav navbar-right">
        <li><%= link_to '', blog_index_path(:atom), class: "fa fa-rss fa-2x" %></li>
      </ul>
  	</div>

	</nav>

	<div class="container">


		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>


	</div>
</body>
</html>
